{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "react-native": "react-native-web",
          "react-native-maps": "react-native-web-maps"
        }
      }
    ]
  ]
}
