.OutlinedButton {
  color: #ffe040 !important;
  border: 2px solid #ffe040;
  border-radius: 6px;
  background-color: transparent !important;
  font-weight: 600;
  height: 40px;
  width: 90px;
  cursor: pointer;

  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #ffe040 !important;
    color: #000 !important;
  }
}

.MainButton {
  color: #0d0d0d;
  background-color: #ffe040;
  border: 2px solid #ffe040;
  border-radius: 6px;
  font-weight: 600;
  height: 40px;
  width: 90px;
  cursor: pointer;
}
