@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif !important;
}

a {
  color: #fff !important;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff !important;
}

h1 {
  font-weight: 600 !important;
  font-size: 2rem;
}

h2 {
  font-weight: 600 !important;
  font-size: 1.5rem;
}

* {
  box-sizing: border-box;
  color: #fff;
}

.input-box {
  background: #414141 !important;
  border-radius: 6px;
  box-shadow: none;
  border: none !important;
  padding: 0.5rem;
  color: #fff !important;

  &:focus {
    outline: none;
    box-shadow: #ffe040 0px 0px 2px 1px;
  }
}

.yellow-text {
  color: #ffe040 !important;
}

.ant-form-item-explain-error {
  color: rgba(255, 0, 0, 0.915);
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

*:focus {
  outline: none;
}

.pointer {
  cursor: pointer;
}
