.NavContainer {
  display: flex;
  align-items: center;

  .NavLinks {
    color: #fff;
    font-weight: 600;
    margin: 0 auto;
    display: flex;
    align-items: center;
    a {
      padding: 0 0.5rem;
      margin: 0 0.8rem;
      transition: 0.3s ease-in-out color;

      &:hover {
        color: #ffe040;
      }
    }
  }
}
